<div class="col-lg-6">
  <div class="prospectCont">
    <h3>Prospects by Type Comparison</h3>
    <div align="center" id="prospectsByTypeComparisonBar"></div>
  </div>
</div>
<div class="col-lg-6">
  <div class="prospectCont">
    <h3>Business Prospects</h3>
    <div id="businessProspectBar" align="center"></div>
  </div>
</div>