<div class="dashboard-menu">
  <div class="row">
    <div class="col-lg-4">
      <div class="projectMenu">
        <ul>
          <li>
            <div class="projectSec">
              <div class="title-menu">
                <span><button type="button" class="btn activeBtn">Active</button></span>
                <h3> - Project Status</h3>
              </div>
              <div class="form-row">
                <div class="col">
                  <div class="projectMenu">
                    <h3><span class="IconCart"><i class="icon fa fa-caret-down"></i></span>5<span>Projects</span></h3>
                  </div>
                </div>
                <div class="col-auto">
                  <div class="projectMenu">
                    <h3><span class="IconCart bgGreen"><i class="icon fa fa-caret-up"></i></span>$5.560.020<span>wages</span></h3>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col">
                  <div class="projectMenu">
                    <h3><span class="IconCart bgGreen"><i class="icon fa fa-caret-up"></i></span>650<span>Jobs</span></h3>
                  </div>
                </div>
                <div class="col-auto">
                  <div class="projectMenu">
                    <h3><span class="IconCart"><i class="icon fa fa-caret-down"></i></span>$185.234.567<span>Investment</span></h3>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="projectSec">
              <div class="title-menu">
                <span><button type="button" class="btn activeBtn primary">Preliminary</button></span>
                <h3> - Project Status</h3>
              </div>
              <div class="form-row">
                <div class="col">
                  <div class="projectMenu">
                    <h3><span class="IconCart"><i class="icon fa fa-caret-down"></i></span>5<span>Projects</span></h3>
                  </div>
                </div>
                <div class="col-auto">
                  <div class="projectMenu">
                    <h3><span class="IconCart bgGreen"><i class="icon fa fa-caret-up"></i></span>$5.560.020<span>wages</span></h3>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col">
                  <div class="projectMenu">
                    <h3><span class="IconCart bgGreen"><i class="icon fa fa-caret-up"></i></span>650<span>Jobs</span></h3>
                  </div>
                </div>
                <div class="col-auto">
                  <div class="projectMenu">
                    <h3><span class="IconCart"><i class="icon fa fa-caret-down"></i></span>$185.234.567<span>Investment</span></h3>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="card cardPadding">
        <div class="form-row">
          <div class="col">
            <div class="title-menu">
              <span><button type="button" class="btn activeBtn">Monthly <i class="icon fa fa-caret-down"></i></button></span>
              <h3> - Activity Report</h3>
            </div>
          </div>
          <div class="col-auto">
            <div class="viewReport">
              <ul>
                <li class="viewItem"><span class="priorityDot"></span>Attraction</li>
                <li class="viewItem"><span class="priorityDot dotHigh"></span> Retention/Expansion </li>
                <li class="viewItem viewlink"><span class="priorityDot dotHigh"></span>Combined </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col">
            <div class="prospectCont">
              <h3>Prospects by Type Comparison</h3>
              <img src="assets/camparison.jpg">
            </div>
          </div>
          <div class="col-auto">
            <div class="prospectCont">
              <h3>Business Prospects</h3>
              .
              <img src="assets/prospect.jpg">
            </div>
          </div>
        </div>
        <div class="botmheading">View Report</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <div class="card cardPadding">
        <div class="title-menu">
          <h3>Attraction - Industry type</h3>
        </div>
        <div class="cardImg"><img src="assets/prospect.jpg"></div>
        <div class="botmheading">View Report</div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="card cardPadding">
        <!-- Panel Filtering rows -->
        <table class="table tableCustomStyle table-hover removeTblSearch" id="dashboardTasks" data-paging="true" data-filtering="true" >
          <thead>
            <tr>
              <th data-name="priority" data-breakpoints="xs">Priority</th>
              <th data-name="Task Description" data-breakpoints="xs">Task Description</th>
              <th data-name="complete" data-breakpoints="xs">Complete</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><span class="priorityDot dotHigh"></span> High</td>
              <td><span class="nowrapCol">With so many different ways today to find</span></td>
              <td>97%</td>
            </tr>
            <tr>
              <td><span class="priorityDot"></span> Low</td>
              <td><span class="nowrapCol">With so many different ways today to find</span></td>
              <td>32%</td>
            </tr>
            <tr>
              <td><span class="priorityDot dotMedium"></span> Medium</td>
              <td><span class="nowrapCol">With so many different ways today to find</span></td>
              <td>14%</td>
            </tr>
            <tr>
              <td><span class="priorityDot"></span> Low</td>
              <td><span class="nowrapCol">With so many different ways today to find</span></td>
              <td>79%</td>
            </tr>
            <tr>
              <td><span class="priorityDot dotHigh"></span> High</td>
              <td><span class="nowrapCol">With so many different ways today to find</span></td>
              <td>97%</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="10">
                <div class="text-right">
                  <ul class="pagination"></ul>
                </div>
              </td>
            </tr>
          </tfoot>
        </table>
        <div class="botmheading">View All</div>
      </div>
    </div>
  </div>
</div>
</div>