Hi, I'm EMPTY

<p>See <strong>Yearly</strong> report <%= link_to "Here", reports_path(period: 'yearly'), data: { turbolinks: false } %>.</p>
<p>See <strong>Monthly</strong> report <%= link_to "Here", reports_path(period: 'monthly'), data: { turbolinks: false } %>.</p>