<div class="panel">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-2 col-6">
        <button class="btn btn-primary green-btn waves-effect waves-classic col-auto clickable" data-href="<%= new_project_note_path(project_id: @project.id) %>" type="button" ><i class="icon fa fa-plus" aria-hidden="true"></i>Add New Note </button>
      </div>
    </div>
  </div>
  <div class="panel-body tableDesign" id="notesList">
    <%= render partial: "notes", locals: {notes: @notes} %>
  </div>
  <div id="createOrEditNote"></div>
</div>
