<div class="row">
  <div class="col-md-12">
    <div class="panel">
      <header class="panel-heading">
        <div class="tasksTopOptions">
          <div class="row">
            <div class="col">
              <div class="tableTitle">
               <h2>Project Logs</h2>
              </div>
            </div>
          </div>
        </div>
      </header>
      <div class="panel-body" id="projectLogsList">
        <%= render 'list' %>
      </div>
    </div>
  </div>
</div>