<% breadcrumb :project_logs %>
<div class="section-info-flash"></div>

<%= render '/shared/settings_tab_headers' %>
<div class="panel panel-bordered">
  <%= render 'filters' %>
</div>
<br/>
<div class="tableDesign" id="projectsList">
  <%= render 'project_logs_list' %>
</div>