<div class="panel activitiesTabOptions">
  <div class="panel-body">
    <div class="row">
			<div class="col">
				<div class="tableTitle">
					<h2>Company Contacts</h2>
				</div>
			</div>
			<div class="col col-auto">
				<button class="btn btn-default clickable" data-href="<%= new_company_contact_path(@company) %>" type="button" >
					<i class="icon fa fa-plus btnIcon" aria-hidden="true"></i> ADD CONTACT
				</button>
				<button data-href ="<%= show_existing_contacts_company_contacts_path(@company)%>" class ="btn btn-default clickable" >
					<i class="icon fa fa-plus btnIcon" aria-hidden="true"></i> ADD EXISTING CONTACT
				</button>
			</div>
    </div>
  </div>
  <div class="panel-body tableDesign" id="contactsList">
    <%= render partial: "company_contacts/contacts", locals: {contacts: @company_contacts} %>
  </div>
  <div id="createOrEditContact"></div>
</div>