<div class="panel activitiesTabOptions">
  <div class="panel-body">
    <div class="row">
      <div class="col">
        <div class="tableTitle">
          <h2>Company Contacts</h2>
        </div>
      </div>
      <div class="mbFullWd col-auto">
        <button class="btn btn-default waves-effect waves-classic clickable" data-href="<%= new_company_contact_path(@company) %>" type="button" >
          <i class="icon fa fa-plus btnIcon" aria-hidden="true"></i> Add Contact
        </button>
        <button data-href ="<%= show_existing_contacts_company_contacts_path(@company)%>" class ="btn btn-default waves-effect waves-classic clickable" >
          <i class="icon fa fa-plus btnIcon" aria-hidden="true"></i> Add Existing Contact
        </button>
      </div>
    </div>
  </div>
  <div class="panel-body designTable" id="contactsList">
    <%= render partial: "company_contacts/contacts", locals: {contacts: @company_contacts} %>
  </div>
  <div id="createOrEditContact"></div>
</div>
<%= render partial: "/shared/confirmation_popup", locals: { record_type: 'Company Contact' } %>