<div class="panel">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-2">
        <button class="btn btn-sm green-btn waves-effect waves-classic col-md-12 clickable" data-href="<%= new_project_site_path(@project) %>" type="button" >ADD SITE/BUILDING </button>
      </div>
      <div class="col-md-2">
        <%= link_to "ADD EXISTING BUILDING", show_existing_sites_project_sites_path(@project), class: "btn btn-sm green-btn waves-effect waves-classic", remote: true %>
      </div>
    </div>
  </div>
  <div class="panel-body" id="sitesList">
    <%= render partial: "sites/sites", locals: {sites: project_sites} %>
  </div>
  <div id="createOrEditSite"></div>
</div>