<div class="panel">
  <div class="tasksTopOptions">
    <div class="form-row">
      <div class="col">
        <div class="tasksRightOptions">
          <div class="tasksSelectFilter"><h4>Project Tasks</h4></div>
          <% if write_access = can_write? && can_write?('tasks') %>
            <div class="tasksSelectFilter">
              <button class="btn btn-default waves-effect waves-classic clickable" data-href="<%= new_project_task_path(project_id: @project.id) %>" type="button">
                <i class="icon fa fa-plus btnIcon" aria-hidden="true"></i>Add New Task
              </button>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-body" id="tasksList">
    <%= render partial: 'tasks', locals: {tasks: @tasks, write_access: write_access} %>
  </div>
</div>
<div id="createOrEditTask"></div>