<div class="panel">
  <header class="panel-heading tableTitle">
    <h2 class="panel-title">Import Your Outlook Contacts</h2>
  </header>
  <div class="panel-body">
    <p>Sign In to your outlook account to import your contacts here.</p>
    <p>
      <a class="btn btn-primary" href="<%= @outlook_login_url %>" target="_blank" role="button" id="connect-button">Connect to Outlook</a>
    </p>
  </div>
</div>