<div class="row">
  <div class="col-md-12">
    <i class="fa fa-cog fa-3x d-inline" style="line-height: inherit; color:#2ED573;" aria-hidden="true"></i>
    &nbsp;&nbsp;
    <h3 class="d-inline"> Settings </h3>
  </div>
</div>
<div class="nav-tabs-horizontal" data-plugin="tabs">
  <ul class="nav nav-tabs nav-tabs-line" role="tablist">
    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#manageUsers" role="tab" id="manageUsersLink" >Manage Users</a></li>
    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="<%= manage_configurations_path %>" role="tab" data-remote="true" id="manageConfigurationLink">Manage Configuration</a></li>
    <li class="nav-item"><a class="nav-link " data-toggle="tab" href="<%= considered_locations_path %>" data-remote="true" role="tab" id="consideredLocationsLink">Considered Locations</a></li>
    <li class="nav-item"><a class="nav-link " data-toggle="tab" href="<%= security_roles_path %>" data-remote="true" role="tab" id="securityRolesLink">Manage Roles</a></li>
    <li class="nav-item"><a class="nav-link " data-toggle="tab" href="#projectLogs" role="tab" id="projectLogsLink">Project Logs</a></li>
  </ul>
  <div class="tab-content pt-20">
    <div class="tab-pane" id="manageUsers" role="tabpanel" >
    </div>
    <div class="tab-pane" id="manageConfiguration" role="tabpanel">
    </div>
    <div class="tab-pane" id="consideredLocations" role="tabpanel">
    </div>
    <div class="tab-pane" id="securityRoles" role="tabpanel">
    </div>
    <div class="tab-pane" id="projectLogs" role="tabpanel">
    </div>
  </div>
</div>