<div class="row">
  <div class="col-xl-12">
    <div class="panel">
      <div class="panel-heading" id="contactFilterHeadingOne" role="tab">
        <h3 class="panel-title">
          Filter Contacts
        </h3>
      </div>
      <div class="panel" id="contactFilterCollapseOne" aria-labelledby="contactFilterHeadingOne" role="tabpanel" style="">
        <div class="panel-body">
          <%= form_tag url_for(controller: controller, action: action), remote: true, method: :get do %>
            <div class="row">
              <div class="form-group form-material col-md-3">
                <label class="form-control-label">Name:</label>
                <input type="text" name="name" placeholder="Name" class="form-control">
              </div>
              <div class="form-group form-material col-md-3">
                <label class="form-control-label">Email:</label>
                <input type="text" name="email" placeholder="Email" class="form-control">
              </div>
              <!--                 <div class="form-group form-material col-md-2">
                <label class="form-control-label">Organization:</label>
                <input type="text" name="org" placeholder="Organization" class="form-control">
                </div> -->  
              <div class="form-group form-material col-md-4">
                <button type="submit" class="btn btn-block green-btn waves-effect waves-classic">Update & Show
                List
                </button>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>