<!-- Contact Modal -->
<div class="modal fade modalStyle" id="contactImportFormCenter" tabindex="-1" role="dialog" aria-labelledby="importContactModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
        <h4 class="modal-title" id="importContactModalLabel">Import Contact</h4>
      </div>
      <div class="modal-body">
        <div class="formStyle importContactForm">
          <%= form_tag import_contacts_path, method: :post, multipart: true do |form| %>
            <div class="row">
              <div class="col-md-6">
                <div class="importMdlLeftCol">
                  <div class="form-group">
                    <label for="fileInput">File:</label>
                    <%= file_field_tag 'import[file]', class: "form-control dropify-event" %>
                  </div>
                  <div class="form-group"> <span class="red">*</span> Note: This may take a couple minutes. </div>
                  <div class="form-group">
                    <label>Business Unit:</label>
                    <%= select_tag 'import[business_unit_id]', options_for_select(load_type("business_units")), :class => 'form-control custom-select' %>
                  </div>  
                  <div class="form-group">
                    <label>Category:</label>
                    <%= select_tag 'import[contact_category_id]', options_for_select( load_type("contact_categories")), :class => 'form-control custom-select' %>
                  </div>
                  <div class="form-group">
                    <a class="btn btn-primary waves-effect waves-classic" href="https://s3.amazonaws.com/edlt-rails/staging/uploads/Sample_Contact_Import_File.xls">Download Sample File</a>
                  </div>
                </div>      
              </div>
              <div class="col-md-6">
                <div class="importMdlRightCol">
                  <div class="form-group">
                    <h5>Requirements:</h5>
                    <p>The order of the fields should be:</p>
                    <div class="dotList">
                      <ul>
                        <li>Contact Name (Required)</li>            
                        <li>Title</li>
                        <li>Address 1</li>
                        <li>Address 2</li>
                        <li>City State Zip</li>
                        <li>Phone 1</li>
                        <li>Phone 2</li>
                        <li>Cell Phone</li>
                        <li>Fax</li>
                        <li>Email</li>
                        <li>Website</li>
                        <li>Notes</li>
                      </ul>
                    </div>        
                  </div>  
                </div>    
              </div>  
            </div>
            <div class="modalFooterBtns">
              <button type="submit" class="btn btn-primary spinnerButton" >Upload & import Contacts</button>
              <div class="spinner" hidden>
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
              </div>
              <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>        
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End Modal -->

