<div class="panel">
  <div class="panel-body">
    <%= render 'filters' %>
    <div class="col-md-2 export-button">
      <button type="submit" class="btn btn-block green-btn " id="basic-export-projects-btn">Export</button>
    </div>
  </div>
</div>