<div class="panel-heading pointerCursor" data-toggle="collapse" href="#project_filters"
aria-expanded="false" aria-controls="project_filters">
  <h3 class="panel-title">Filters <i class="fa fa-caret-down pull-right" aria-hidden="true"></i> </h3>
</div>
<div class="collapse" id="project_filters">
  <%= form_tag projects_path, method: :get, remote: true do %>
    <%= render "filters" %>
    <div class="form-inline col-md-12">
      <div class="col-md-3 col-sm-6">
        <button type="submit" class="col-md-12 btn btn-block green-btn ">Update & Show List</button>
      </div>
    </div>
    <br/>
  <% end %>
</div>