<div class="nav-tabs-horizontal" data-plugin="tabs">
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#mainTab" role="tab">Main</a></li>
    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#contactsTab" role="tab">Contacts</a></li>
    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#sitesBuildingTab" role="tab">Sites/Buildings</a></li>
    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#notesTab" role="tab">Notes</a></li>
    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#taskTab" role="tab">Task</a></li>
    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#filesTab" role="tab">Files</a></li>
    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#emailsTab" role="tab">Emails</a></li>
  </ul>
  <div class="tab-content pt-20">
    <div class="tab-pane active" id="mainTab" role="tabpanel">
      <br/>
      <%= render "form" %>
    </div>
    <div class="tab-pane" id="contactsTab" role="tabpanel">

    </div>
    <div class="tab-pane" id="sitesBuildingTab" role="tabpanel">

    </div>
    <div class="tab-pane" id="notesTab" role="tabpanel">

    </div>
    <div class="tab-pane" id="taskTab" role="tabpanel">

    </div>
    <div class="tab-pane" id="filesTab" role="tabpanel">

    </div>
    <div class="tab-pane" id="emailsTab" role="tabpanel">

    </div>
  </div>
</div>