<div class="row">
  <div class="col-xl-12">
    <div class="tab-content card p-15">
      <div class="tab-pane active" id="mainTab" role="tabpanel">
        <%= render 'form' %>
      </div>
      <div class="tab-pane" id="contactsTab" role="tabpanel">

      </div>
      <div class="tab-pane" id="sitesTab" role="tabpanel">

      </div>
      <div class="tab-pane" id="notesTab" role="tabpanel">

      </div>
      <div class="tab-pane" id="tasksTab" role="tabpanel">

      </div>
      <div class="tab-pane" id="filesTab" role="tabpanel">

      </div>
      <div class="tab-pane" id="emailsTab" role="tabpanel">

      </div>
    </div>
  </div>
</div>