<div class="panel panel-bordered">
  <%= render 'collapsable_filters' %>
</div>
<br/>
<div class="panel">
  <div class="panel-body" id="projectsList">
    <%= render 'projects_list' %>
  </div>
</div>