<% content_for :navigation_bar do %>
  <ul class="nav nav-tabs tasks-tabs" role="tablist">
    <li class="nav-item active"><a class="nav-link active" data-toggle="tab" id="mainNavLink" role="tab">Main</a></li>
    <li class="nav-item"><a class="nav-link first-save-project" role="tab" id="contactsNavLink" >Contacts</a></li>
    <li class="nav-item"><a class="nav-link first-save-project" role="tab">Sites/Buildings</a></li>
    <li class="nav-item"><a class="nav-link first-save-project" role="tab" id="notesNavLink">Notes</a></li>
    <li class="nav-item"><a class="nav-link first-save-project" role="tab" id="tasksNavLink">Task</a></li>
    <li class="nav-item"><a class="nav-link first-save-project" role="tab">Files</a></li>
    <li class="nav-item"><a class="nav-link first-save-project" role="tab">Mailbox</a></li>
  </ul>
<% end %>
<%= render 'tab_content' %>
