<div class="row">
  <div class="col-xl-12">
    <div class="panel">
      <header class="panel-heading">
        <h3 class="panel-title">
          <div class="col-md-2">
            <button class="btn btn-sm green-btn waves-effect waves-classic clickable" data-href="<%= new_file_path %>" type="button">ADD NEW FILE
            </button>
          </div>
        </h3>
      </header>
      <div class="panel-body" id="filesList">
        <%= render :partial => 'files', locals: {files: @files} %>
      </div>
    </div>
  </div>
</div>

<div id="createOrEditFile"></div>
