<% breadcrumb :files %>
<div class="section-info-flash"></div>
<div class="row">
  <div class="col-xl-12">

    <div class="panel">
      <header class="panel-heading tableTitle">
        <h2 class="panel-title">Files</h2>
      </header>
      <header class="panel-heading">
        <div class="tasksTopOptions">
          <div class="row">
            <div class="col">
              <div class="tasksSelectFilter">
                <%= select_tag :files_filter_by_project, options_for_select(load_data_with_id(current_org.projects)), include_blank: 'All Files' , class: 'form-control custom-select' %>
              </div>
            </div>
            <div class="col col-auto">
              <div class="tasksRightOptions">
                <ul>
                  <li><a class="btn btn-default clickable" data-href="<%= new_file_path %>"><i class="icon fa fa-plus btnIcon" aria-hidden="true"></i> Add New File</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </header>
      <div class="panel-body designTable" id="filesList">
        <%= render :partial => 'files', locals: {files: @files} %>
      </div>
    </div>

  </div>
</div>

<div id="createOrEditFile"></div>
<%= render partial: "/shared/confirmation_popup", locals: { record_type: 'File' } %>