<div class="nav-tabs-horizontal" data-plugin="tabs" id="dashboard-tabs" >
  <% content_for :navigation_bar do %>
    <ul class="nav nav-tabs animation-fade tasks-tabs" role="tablist">
      <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#main" id="mainNavLink" role="tab">Main</a></li>
      
      <% if current_org.enabled_default_module?('contacts') %>
        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#contacts" role="tab" id="contactsNavLink" >Contacts</a></li>
      <% end %>

      <% if current_org.enabled_default_module?('projects') %>
        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#projects" role="tab" id="projectsNavLink" >Projects</a></li>
      <% end %>

      <% if current_org.enabled_default_module?('activities') %>
        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#activities" role="tab" id="activitiesNavLink">Activities</a></li>
      <% end %>
    </ul>
  <% end %>

  <div class="tab-content pt-20">
    <div class="tab-pane active" id="main" role="tabpanel">
      <%= render 'edit_company_form' %>
    </div>

    <% if current_org.enabled_default_module?('contacts') %>
      <div class="tab-pane" id="contacts" role="tabpanel">
        <%= render 'company_contacts/company_contacts_list' %>
      </div>
    <% end %>

    <% if current_org.enabled_default_module?('projects') %>
      <div class="tab-pane" id="projects" role="tabpanel">
        <%= render 'company_projects/company_projects_list' %>
      </div>
    <% end %>

    <% if current_org.enabled_default_module?('activities') %>
      <div class="tab-pane" id="activities" role="tabpanel">
        <%= render 'company_activities/company_activities_list' %>
      </div>
    <% end %>
  </div>
</div>


<script>
  $(function(){
    var hash = window.location.hash;
    hash && $('ul.nav a[href="' + hash + '"]').tab('show');

    $(window).on('hashchange',function(){
      var hash = window.location.hash;
      hash && $('ul.nav a[href="' + hash + '"]').tab('show');
    });


    $('.nav-tabs a').click(function (e) {
      $(this).tab('show');
      var scrollmem = $('body').scrollTop();
      window.location.hash = this.hash;
      $('html,body').scrollTop(scrollmem);
    });
  });
</script>