<table class="table tableCustomStyle tableImg table-hover removeTblSearch bodrTop footable footable-6 footable-filtering footable-filtering-right footable-paging footable-paging-center breakpoint-lg" data-toggle-column="first" data-empty="There are no companies" data-show-toggle="true">
  <thead>
    <tr>
      <th>COMPANY NAME</th>
      <th>DATE</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% companies.each do |company| %>
      <tr>
        <td><%= company.name %></td>
        <td><%= company.updated_at.strftime("%m/%d/%Y") %></td>
        <td>
          <div class="openLeft moreOptions dropdown">
            <a class="" data-toggle="dropdown" href="javascript:void(0)" aria-expanded="false" data-animation="scale-down" role="button">
              <i class="icon md-more-vert" aria-hidden="true"></i>
            </a>
            <div class="dropdown-menu" role="menu">
              <a class="dropdown-item" href="<%= edit_company_path(company) %>" data-turbolinks="false" role="menuitem"><i class="icon md-edit" aria-hidden="true"></i> Edit</a>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="digg_pagination">
  <%= js_will_paginate companies %>
</div>

<script>
  $('.footable').footable();
</script>