<div class="panel panel-bordered" id="history">
  <div class="panel-heading collapsed" data-toggle="collapse" href="#history-form"
aria-expanded="false" aria-controls="history-form">
    <h3 class="panel-title"> History <i class="fa fa-caret-down pull-right" aria-hidden="true"></i> </h3>
  </div>
  <div class="panel-body panel-collapse collapse" id="history-form" aria-labelled-by="history-form" role="tabpanel">
    <div class="error-messages"></div>
    <div class="alerts"></div>
    <br/>
    <%= form_for @company, url: history_update_company_path, method: :patch, remote: true  do |company| %>
      <div class="row">
        <div class="form-group col-md-6">
          <label id="inputCompanyName" >Years Business Located In Community:</label>
          <%= company.text_field 'years_business_located', class: "form-control" %>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <label id="inputCompanyNumber" >Years company established in Community:</label>
          <%= company.text_field 'company_establishment_year', class: "form-control" %>
        </div>
      </div>

			<div class="modalFooterBtns">
				<div class="form-row">
					<div class="col-auto">
						<button type="submit" class="btn btn-primary" name= "commit", value= "Save & Close">Save & Close</button>
					</div>
					<div class="col-auto">
						<button type="submit" class="btn btn-outline-primary">Save</button>
					</div>
					<div class="col-auto">
						<div class="form-group form-material">
							<%= link_to 'Cancel', companies_path, class: "btn btn-outline-primary", data: { turbolinks: false } %>
						</div>
					</div>
				</div>
			</div>
    <% end %>
  </div>
</div>