<div class="row">
  <div class="col-xl-8">
    <div class="panel activitiesTabOptions">
      <header class="panel-heading">
        <h3 class="panel-title">
          <div class="row">
            <div class="col-md-4 tableTitle">
              <h2>Companies</h2>
            </div>
            <div class="col-md-8">
              <button class="pull-right btn btn-default clickable" data-href="<%= new_company_path %>"
                id="createNewCompany" type="button"><i class="icon fa fa-plus btnIcon" aria-hidden="true"></i> Add Company
              </button>
            </div>
          </div>
        </h3>
      </header>

      <div class="panel-body tableDesign" id="companiesList">
        <%= render partial: 'companies', locals: {companies: @companies} %>
      </div>
    </div>
  </div>
  <div class="col-xl-4">
    <%= render partial: 'filters', locals: { controller: 'companies', action: 'index'} %>
  </div>
</div>
<div id="createOrEditCompany"></div>
