<div class="section-info-flash"></div>
<div class="row">
  <div class="col-xl-8">
    <div class="panel activitiesTabOptions">
      <header class="panel-heading">
        <div class="tasksTopOptions">
          <div class="row flex-sm-row-reverse">                  
            <div class="col col-auto ml-auto">
              <div class="tasksRightOptions">
                <ul>
                  <li><a data-href="<%= new_company_path %>" class="btn btn-default waves-effect waves-classic clickable" data-toggle="modal" data-target="#addCompanyModal"><i class="icon fa fa-plus btnIcon" aria-hidden="true"></i>Add New Company</a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm align-self-center">
              <div class="tableTitle">
                <h2>Company List</h2>
              </div>
             </div>
          </div>
        </div>
      </header>
      <div class="panel-body tableDesign" id="companiesList">
        <%= render partial: 'companies', locals: {companies: @companies} %>
      </div>
    </div>
  </div>
  <div class="col-xl-4">
    <%= render partial: 'filters', locals: { controller: 'companies', action: 'index'} %>
  </div>
</div>
<div id="createOrEditCompany"></div>
