<div class="panel">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-10 col-12">
        <h3>Activity Notes</h3>
      </div>
      <div class="col-md-2 col-6">
        <button class="btn btn-sm green-btn waves-effect waves-classic col-md-12 clickable" data-href="<%= new_activity_note_path(activity_id: @activity.id) %>" type="button" >ADD NEW NOTE </button>
      </div>
    </div>
  </div>
  <div class="panel-body" id="notesList">
    <%= render partial: "notes", locals: {notes: @notes} %>
  </div>
  <div id="createOrEditNote"></div>
</div>
