<div class="panel activitiesTabOptions">
  <div class="panel-body">
    <div class="row">
      <div class="col">
        <div class="tableTitle">
          <h2>Activity Emails</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-body tableDesign" id="emailsList" >
    <%= render partial: 'emails/emails', locals: { emails: @emails } %>
  </div>
</div>
<div class="emailModals"></div>