<div class="panel activitiesTabOptions">
  <div class="panel-body">
    <div class="row">
      <div class="col">
        <div class="tableTitle">
          <h2>Company Activities</h2>
        </div>
      </div>
      <div class="col col-auto">
        <%= link_to new_company_activity_path(@company), class: "btn btn-default", data: { turbolinks: false } do %>
          <i class="icon fa fa-plus btnIcon" aria-hidden="true"></i> ADD NEW ACTIVITY
        <% end %>
      </div>
    </div>
  </div>
  <div class="panel-body tableDesign" id="activitiesList">
    <%= render partial: "company_activities/activities" %>
  </div>
</div>