<div class="panel">
	<div class="tasksTopOptions">
		<% if can_write? %>
			<div class="form-row">
				<% if can_write?('contacts') %>
					<div class="col-auto">
						<button class="btn btn-primary green-btn waves-effect waves-classic col-md-12 clickable" data-href="<%= new_project_contact_path(@project) %>" type="button">
							<i class="icon fa fa-plus" aria-hidden="true"></i>Add Contact
						</button>
					</div>
				<% end %>
				<div class="col-md-3 col-sm-4 col-xs-6">
					<%= button_to "Add Existing Contact", show_existing_contacts_project_contacts_path(@project), class: "btn btn-outline-primary waves-effect waves-classic col-md-10", method: :get, remote: true %>
				</div>
			</div>
			<br>
		<% end %>
		<div id="contactsList">
			<%= render partial: "contacts/contacts", locals: {contacts: project_contacts} %>
		</div>
	</div>
	<div id="createOrEditContact"></div>
</div>