<div class="panel">
  <div class="panel-body row">
    <div class="col-md-10">
      <h3>Project Files</h3>
    </div>
    <div class="col-md-2">
      <button class="btn btn-sm green-btn waves-effect waves-classic clickable" data-href="<%= new_project_file_path(project_id: @project.id) %>" type="button">ADD NEW FILE
      </button>
    </div>
  </div>
  <div class="panel-body" id="filesList" >
    <%= render partial: 'files', locals: { files: @files } %>
  </div>
</div>
<div id="createOrEditFile"></div>