<div class="panel">
  <div class="tasksTopOptions">
    <div class="form-row">
      <div class="col">
        <div class="tasksRightOptions">
          <div class="tasksSelectFilter"><h4>Project Files</h4></div>
          <% if write_access = can_write? && can_write?('files') %>
            <div class="tasksSelectFilter">
              <button class="btn btn-default waves-effect waves-classic clickable col-auto" data-href="<%= new_project_file_path(project_id: @project.id) %>" type="button"><i class="icon fa fa-plus btnIcon" aria-hidden="true"></i>Add File
              </button>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="panel-body tableDesign" id="filesList" >
    <%= render partial: 'files', locals: { files: @files, write_access: write_access } %>
  </div>
</div>
<div id="createOrEditFile"></div>