<div class="panel">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-10 col-12">
        <h3>Project Files</h3>
      </div>
      <div class="col-md-2 col-6">
        <button class="btn btn-sm green-btn waves-effect waves-classic clickable col-md-12" data-href="<%= new_project_file_path(project_id: @project.id) %>" type="button">ADD NEW FILE
        </button>
      </div>
    </div>
  </div>
  <div class="panel-body" id="filesList" >
    <%= render partial: 'files', locals: { files: @files } %>
  </div>
</div>
<div id="createOrEditFile"></div>