.alert-notice{
  text-color: black;
}

.alert-error{
  text-color: red;
}

.alert-success{
  text-color: green;
}

.alerts{
  color: green;
}

.alerts-danger{
  color: red;
}

.logo img {
  width: 160px;
}

#contactFilterHeadingOne a:hover {
  text-decoration: none;
  color: #000;
  background-color: #ffffff;
}

//pagination styles start

.digg_pagination {
  background: white;
  cursor: default;
  text-align: center;
  /* self-clearing method: */
}

.digg_pagination a, .digg_pagination span, .digg_pagination em {
  line-height: 1.571429;
  position: relative;
  padding: .643rem 1.072rem;
  color: #000000;
  border: 1px solid #e0e0e0;
  background-color: transparent;
}

.digg_pagination .disabled {
  line-height: 1.571429;
  position: relative;
  padding: .643rem 1.072rem;
  color: #000000;
  border: 1px solid #e0e0e0;
  background-color: transparent;
}

.digg_pagination .current {
  line-height: 1.571429;
  position: relative;
  padding: .643rem 1.072rem;
  color: #000000;
  font-style: normal;
  border: 1px solid #e0e0e0;
  background-color: #DCDCDC;
}

.digg_pagination a {
  line-height: 1.571429;
  position: relative;
  padding: .643rem 1.072rem;
  color: #000000;
  border: 1px solid #e0e0e0;
  background-color: transparent;
}

.digg_pagination a:hover, .digg_pagination a:focus {
  line-height: 1.571429;
  position: relative;
  padding: .643rem 1.072rem;
  color: #000000;
  text-decoration: none;
  border: 1px solid #e0e0e0;
  background-color: #DADADA;
}

.digg_pagination .page_info {
  background: #2ED573;
  color: white;
  padding: 0.4em 0.6em;
  width: 22em;
  margin-bottom: 0.3em;
  text-align: center;
}

.digg_pagination .page_info b {
  color: white;
  background: #2ED573;
  padding: 0.1em 0.25em;
}

.digg_pagination:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.grey{
  color: #808080;
}

* html .digg_pagination {
  height: 1%;
}

*:first-child + html .digg_pagination {
  overflow: hidden;
}

//pagination styles end

.green-btn {
  border-color: #2ED573;
  background-color: #2ED573;
  box-shadow: none;
  color: white;
  font-weight: 400;
}

.themeColor{
  color: #2ED573;
}

#contactImportFormCenter {
  .requirements .list-group-item {
    padding: 5px 5px;
  }
  .circle {
    color: #2ED573;
    margin-left: 10px;
    margin-right: 5px;
  }
}

#contactsFileUploadHidden {
  display: none;
}


.white-btn {
  border-color: #2ED573;
  background-color: white;
  box-shadow: none;
  color: #2ED573;
  font-weight: 400;
}

.site-filter-clear {
  border-color: #2ED573;
  background-color: white;
  box-shadow: none;
  color: #2ED573;
  font-weight: 400;
  z-index: 300;
}

.site-filter-clear:hover {
  border-color: #2ED573;
  background-color: white;
  box-shadow: none;
  color: #2ED573;
  font-weight: 400;
  z-index: 300;
}

.modal-content .modal-title{
  color: #2ED573;
}

#tasksList thead th {
  color: #2ED573;
  font-weight: 500;
}

//Tasks page CSS End

#addContactFormCenter {
  z-index: 500;
}

.token-input-dropdown-facebook, .token-input-dropdown{
  z-index: 1100000 !important;
}

#error_explanation ul li{
  list-style-type: none;
  color: red;
}
.panel-title{
  .reload-page-link{
    margin-left: 15px;
  }
  a:hover{ background-color: #ffffff !important;};
}

.nav-tabs-line .nav-link.active, .nav-tabs-line .nav-link.active:focus, .nav-tabs-line .nav-link.active:hover {
  color: #2ED573;
  border-bottom: 2px solid #2ED573;
  background-color: transparent;
}

#emailsList tbody tr {
  td i{
    color: #2ED573;
    margin-right: 5px;
  }
  td:nth-child(4), td:nth-child(5){
    text-align: left
  }
}

#emailDetailsModal .list-group-item{
  padding: 2px;
}

.spinner {
  margin: 10px auto 0;
  width: 60px;
}

.spinner > div {
  width: 8px;
  height: 8px;
  background-color: #2ED573;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
}

@media (max-width: 767px) {
  .col-12 {
    margin-bottom: 10px;
  }
}

@media (max-width: 767px) {
  .col-6 {
    margin-bottom: 10px;
  }
}
@media (max-width: 767px) {
  .col-4 {
    margin-bottom: 10px;
  }
}

html, body {
  height: 100%;
}

.theme-body {
  padding-top: 66.01px;
}

.success{
  color: green;
}

.pointerCursor{
  cursor: pointer;
}

#activitiesBack {
  color: #2ED573;
  text-decoration: none;
}

#activitiesBack:hover, #activitiesBack:focus {
  color: #00b33c;
  text-decoration: underline;
}

//Report Page
.yearlyReport {
  .panel-body {
    padding: 15px;
  }
  .reportGenerationForm {
    .form-group {
      margin-bottom: 5px;
    }
  }
  .col-xl-9, .col-xl-3{
    padding: 0 5px;
  }
  .font-weight-bold{
    font-weight: 900 !important;
  }
  .ct-chart .ct-bar{
    stroke-width: 5px;
  }
  .cardTopTitle {
    padding-bottom: 10px;
  }
  .cardTopTitle > h3 {
    font-size: 14px;
    font-weight: 500;
    color: #6d6f72;
    margin: 0 0 10px;
  }
  .borderTitle {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    margin-bottom: 10px;
    padding-bottom: 5px;
  }
  .nowrapBtn .btn {
    font-size: 13px;
    padding: 6px 6px;
    white-space: nowrap;
  }
}
.export-site-referrals-report{
  .digg_pagination{
    background: none;
  }
  table th{
    color: #2ED573;
  }
  .input-daterange .input-group{
    width: 100%;
  }
}
.successful-project-data{
  .input-daterange .input-group{
    width: 100%;
  }
}
.all-reports{
  table th{color: #2ED573;}
}
.datepicker{z-index: 9999999 !important;}

.dashboard-menu {
  select.form-control.custom-select{
    background: #2ED573;
    color: #fff;
    max-width: 200px;
    font-weight: 500;
    font-size: 13px;
  }
  select.form-control#dashboard_activity_select{
    max-width: 100px;
  }
  .ct-chart .ct-bar{
    stroke-width: 5px;
  }
  #businessProspectBar svg path {
    stroke-width: 35px !important;
  }
  #prospectsByIndustryTypeBar svg path {
    stroke-width: 35px !important;
  }
  .ct-chart .ct-label{
    font-size: 0.85rem;
    font-weight: 600;
  }
  .botmheading a, a:hover{
    text-decoration: none;
    color: #757575;
  }
  .title-menu h3{
    font-family: 'Montserrat', sans-serif;
  }
  .prospectCont > h3 {
    font-family: 'Montserrat', sans-serif;
  }
  .btn.activeBtn{
    padding: 2px 5px;
  }
}
.emails-listing {
  select, button {
    font-family: 'Montserrat', sans-serif;
  }
}

.add-project-btn {
  margin-left: -15px;
  margin-bottom: 15px;
}

#businessTypeCharts.active {
  color: #000;
  font-weight: 600;
  background: none;
}

#cardOrTableViewTab.active {
  color: #2ED573;
  font-weight: 600;
  background: none;
}

@media (max-width: 1420px) {
  .yearlyReport{
    .nav-tabs-line .nav-link{
      padding: .715rem 1.00rem;
      font-size: .85rem;
      line-height: 1.2rem;
    }
  }
}

ul.ui-autocomplete {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #999;
  cursor: default;
  li {
    background-color: #FFF;
    border-top: solid 1px #DDD;
    margin: 0;
    padding: 0;
    a {
      color: #000;
      display: block;
      padding: 3px;
    }
    a.ui-state-hover, a.ui-state-active {
      background-color: #FFFCB2;
    }
  }
}
#otherSquareFeetRequested.hidden{display: none}
#otherSquareFeetRequested.show{display: block}

#where_located_div.hidden{display: none}
#where_located_div.show{display: block}

.custom-href {
  color: #757575;
  text-decoration: none !important;
}
.custom-href:hover {
  color: #757575;
}

#siteVisitDates{
  .links{ margin-top: 10px}
  .remove-link{
    text-decoration: none;
    color: #ef5350;
    :hover{
      text-decoration: none;
    }
  }
}

.cursor-pointer {
  cursor: pointer;
}