.alert-notice{
  text-color: black;
}

.alert-error{
  text-color: red;
}

.alert-success{
  text-color: green;
}

.static_html_body {
  background: #b6b6b6;
  font-family: montserrat, arial, verdana;
}

#contactFilterHeadingOne a:hover {
  text-decoration: none;
  color: #000;
  background-color: #ffffff;
}

//pagination styles start

.digg_pagination {
  background: white;
  cursor: default;
  /* self-clearing method: */
}

.digg_pagination a, .digg_pagination span, .digg_pagination em {
  padding: 0.2em 0.5em;
  display: block;
  float: left;
  margin-right: 1px;
}

.digg_pagination .disabled {
  color: #999999;
  border: 1px solid #dddddd;
}

.digg_pagination .current {
  font-style: normal;
  font-weight: bold;
  background: #2ED573;
  color: white;
  border: 1px solid #2ED573;
}

.digg_pagination a {
  text-decoration: none;
  color: #2ED573;
  border: 1px solid #2ED573;
}

.digg_pagination a:hover, .digg_pagination a:focus {
  color: white;
  background: #2ED573;
  border-color: #2ED573;
}

.digg_pagination .page_info {
  background: #2ED573;
  color: white;
  padding: 0.4em 0.6em;
  width: 22em;
  margin-bottom: 0.3em;
  text-align: center;
}

.digg_pagination .page_info b {
  color: white;
  background: #2ED573;
  padding: 0.1em 0.25em;
}

.digg_pagination:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

* html .digg_pagination {
  height: 1%;
}

*:first-child + html .digg_pagination {
  overflow: hidden;
}

span.previous_page, a.previous_page {
  display: none;
}

span.next_page, a.next_page {
  display: none;
}

//pagination styles end

.green-btn {
  border-color: #2ED573;
  background-color: #2ED573;
  box-shadow: none;
  color: white;
  font-weight: 400;
}


#contactsList thead th, #projectsList thead th, #notesList thead th, #emailsList thead th {
  color: #2ED573;
  font-weight: 500;
}


#contactImportFormCenter {
  .requirements .list-group-item {
    padding: 5px 5px;
  }
  .circle {
    color: #2ED573;
    margin-left: 10px;
    margin-right: 5px;
  }
}

#contactsFileUploadHidden {
  display: none;
}


.white-btn {
  border-color: #2ED573;
  background-color: white;
  box-shadow: none;
  color: #2ED573;
  font-weight: 400;
}

.site-filter-clear {
  border-color: #2ED573;
  background-color: white;
  box-shadow: none;
  color: #2ED573;
  font-weight: 400;
  z-index: 300;
}

.site-filter-clear:hover {
  border-color: #2ED573;
  background-color: white;
  box-shadow: none;
  color: #2ED573;
  font-weight: 400;
  z-index: 300;
}

.modal-content .modal-title{
  color: #2ED573;
}

//Tasks page CSS Start
.tasksNavs {
  .nav-pills .nav-link.active, .show .nav-pills .nav-link {
    color: #fff;
    background-color: #2ED573;
    border-radius: 50px;
    font-weight: 700;
  }
  .nav-pills .nav-item a{
    color: #000;
    font-weight: 700;
  }
  .nav-pills{ line-height: 8px}
}
#tasksList thead th {
  color: #2ED573;
  font-weight: 500;
}

//Tasks page CSS End

#addContactFormCenter {
  z-index: 500;
}

.token-input-dropdown-facebook, .token-input-dropdown{
  z-index: 1100000 !important;
}

#error_explanation ul li{
  list-style-type: none;
  color: red;
}
.panel-title{
  .reload-page-link{
    margin-left: 15px;
  }
  a:hover{ background-color: #ffffff !important;};
}

.nav-tabs .nav-item .nav-link.active {
  background-color: #2ED573;
  border-color: #2ED573;
}
#emailsList tbody tr {
  td i{
    color: #2ED573;
    margin-right: 5px;
  }
  td:nth-child(4), td:nth-child(5){
    text-align: center
  }
}
#emailDetailsModal .list-group-item{
  padding: 2px;
}