<div class="row">
  <div class="col-lg-12">
    <div class="panel">
      <header class="panel-heading">
        <div class="tasksTopOptions">
          <div class="row">
            <div class="col">
              <div class="tableTitle">
               <h2>Considered Locations</h2>
            </div>
            </div>
            <div class="col col-auto">
              <div class="tasksRightOptions">
                <ul>
                  <li><a data-href="<%= new_considered_location_path %>" class="btn btn-default clickable"><i class="icon fa fa-plus btnIcon" aria-hidden="true"></i> Add </a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </header>
      <div class="panel-body" id="consideredLocationsList">
        <%= render partial: 'list' %>
      </div>
      <div id='consideredLocationsModal'>
      </div>
    </div>
  </div>
</div>

<%= render partial: "/shared/confirmation_popup", locals: { record_type: 'Considered Location' } %>