<div class="panel-heading" data-toggle="collapse" href="#customModules"
aria-expanded="false" aria-controls="orgPayment">
  <h3 class="panel-title">Custom Modules <i class="fa fa-caret-down pull-right" aria-hidden="true"></i> </h3>
</div>
<div class="collapse" id="customModules">
  <div class="error-messages"></div>
  <div class="panel-body customModulesList">
   <%= render 'custom_modules_list' %>
  </div>
</div>