<div class="panel-heading" data-toggle="collapse" href="#customModules"
aria-expanded="false" aria-controls="orgPayment">
  <h3 class="panel-title">Custom Modules <i class="fa fa-caret-down pull-right" aria-hidden="true"></i> </h3>
</div>
<div class="collapse" id="customModules">
  <div class="error-messages"></div>
  <div class="panel-body customModulesList">
    <table class="table table-striped table-hover toggle-circle footable tableCustomStyle" data-toggle-column="first" data-empty="There are no modules." data-show-toggle="true">
      <thead>
        <tr>
          <th>Module Name</th>
          <th>Side Bar Enabled</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% for custom_module in @custom_modules %>
          <tr class='customModule_<%=custom_module.id%>''>
            <%= render partial: 'custom_modules_list', locals: {custom_module: custom_module} %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<script>
  $('.footable').footable();
</script>