<div class="panel-heading pointerCursor" data-toggle="collapse" href="#orgPayment"
aria-expanded="false" aria-controls="orgPayment">
  <h3 class="panel-title">Payment Details <i class="fa fa-caret-down pull-right" aria-hidden="true"></i> </h3>
</div>
<div class="collapse" id="orgPayment">
  <div class="panel-body">
  </div>
</div>