<div class="section-info-flash"></div>
<div class="row emails-listing">
  <div class="col-lg-12">
    <div class="panel activitiesTabOptions">
      <header class="panel-heading">
        <%= form_tag url_for(:controller => 'emails', :action => 'index'), :method => 'get', remote: true do %>
          <div class="tasksTopOptions">
            <div class="row flex-sm-row-reverse">
              <div class="col col-auto ml-auto">
                <div class="tasksRightOptions">
                  <ul>
                    <li>
                      <div class="tasksSelectFilter">
                        <%= select_tag :project, options_for_select(load_data_with_id(current_org.projects)), include_blank: 'All Projects', class: 'form-control custom-select' %>
                      </div>
                    </li>
                    <li>
                      <div class="tasksSelectFilter">
                        <%= select_tag :contact, options_for_select(load_data_with_id(current_org.contacts)), include_blank: 'All Contacts', class: 'form-control custom-select' %>
                      </div>
                    </li>
                    <li>
                      <div class="align-self-end">
                        <button class="btn btn-primary" type="submit">Update & Show List</button>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-sm align-self-center">
                <div class="tableTitle">
                  <h2>Emails</h2>
                </div>
              </div>
            </div>
          </div>
        <% end %>

      </header>
      <div class="panel-body tableDesign" id="emailsList">
        <%= render partial: 'emails', locals: {emails: @emails} %>
      </div>
    </div>
  </div>
</div>

<div class="emailModals"></div>