<div class="row">
	<div class="col-xl-12">
		<div class="panel">
			<header class="panel-heading tableTitle">
				<h2 class="panel-title">Activities</h2>
			</header>
			<header class="panel-heading">
				<div class="tasksTopOptions">
					<div class="row">
						<div class="col">
							<div class="tasksSelectFilter">
								<%= select_tag :activities_filter_by_company, options_for_select(load_data_with_id(current_org.companies)), include_blank: 'All Companies' , class: 'form-control custom-select' %>
							</div>
						</div>
						<div class="col col-auto">
							<div class="tasksRightOptions">
								<ul>
									<li><a class="btn btn-default" href="<%= new_activity_path %>"><i class="icon fa fa-plus btnIcon" aria-hidden="true"></i> Add New Activity</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</header>
			<div class="panel-body designTable" id="activitiesList">
				<%= render :partial => 'list', locals: {activities: @activities} %>
			</div>
		</div>
	</div>
</div>