<div class="nav-tabs-horizontal" >
	<% content_for :navigation_bar do %>
		<ul class="nav nav-tabs tasks-tabs" role="tablist">
			<li class="nav-item active"><a class="nav-link active" data-toggle="tab" id="mainNavLink" role="tab">Main</a></li>
			<li class="nav-item"><a class="nav-link first-save-activity" role="tab" id="interactionsNavLink" >Interaction</a></li>
			<li class="nav-item"><a class="nav-link first-save-activity" role="tab">Files</a></li>
			<li class="nav-item"><a class="nav-link first-save-activity" role="tab">Tasks</a></li>
			<li class="nav-item"><a class="nav-link first-save-activity" role="tab">Emails</a></li>
		</ul>
	<% end %>
  <div class="tab-content pt-20">
    <div class="tab-pane active" id="mainTab" role="tabpanel">
      <% if @company %>
        <%= render 'company_activities/form' %>
      <% else %>
        <%= render 'form' %>
      <% end %>
    </div>
    <div class="tab-pane" id="interactionsTab" role="tabpanel"></div>
    <div class="tab-pane" id="filesTab" role="tabpanel"></div>
    <div class="tab-pane" id="tasksTab" role="tabpanel"></div>
    <div class="tab-pane" id="emailsTab" role="tabpanel"></div>
  </div>
</div>
