<div class="row">
  <div class="col-xl-8">
    <div class="panel">
      <header class="panel-heading">
        <h3 class="panel-title">
          <div class="row">
            <div class="col-md-4">
              <h4> Sites/Buildings</h4>
            </div>
          </div>
        </h3>
      </header>
      <header class="panel-heading">
        <div class="tasksTopOptions">
          <div class="row">
            <div class="col col-auto">
              <div class="tasksRightOptions">
                <ul>
                  <li>
                    <button class="btn btn-default waves-effect waves-classic clickable pull-right" data-href="<%= new_site_path %>"
                    id="createNewSite" type="button"><i class="icon fa fa-plus btnIcon" aria-hidden="true"></i> Add Site/Buiding
                  </button>
                  </li>
                  <li>
                    <button class="btn btn-default waves-effect waves-classic" data-target="#siteImportFormCenter" data-toggle="modal"
                      id="importNewSites" type="button">Excel Import
                    </button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </header>
      <div class="panel-body" id="sitesList">
        <%= render partial: 'sites', locals: {sites: @sites} %>
      </div>
    </div>
  </div>
  <div class="col-xl-4">
    <%= render partial: 'filters', locals: { controller: 'sites', action: 'index'} %> 
  </div>
</div>
<div id="createOrEditSite"></div>
<%= render :partial => 'sites/import_sites_form' %>