<div class="row">
  <div class="col-xl-8">
    <div class="panel">
      <header class="panel-heading">
        <h3 class="panel-title">
          <button class="btn btn-sm green-btn waves-effect waves-classic clickable" data-href="<%= new_site_path %>"
            id="createNewSite" type="button">ADD SITE/ BUILDING
          </button>
          <%= link_to sites_path, class: 'reload-page-link', data: { turbolinks: false } do %>
            <i class="fa fa-refresh"></i>
          <% end %>
        </h3>
      </header>

      <div class="panel-body" id="sitesList">
        <%= render partial: 'sites', locals: {sites: @sites} %>
      </div>
    </div>
  </div>
  <div class="col-xl-4">
    <%= render partial: 'filters', locals: { controller: 'sites', action: 'index'} %> 
  </div>
</div>
<div id="createOrEditSite"></div>