<ul>
  <% setting_type_data.each do |setting_type|%>
    <li>
      <a data-href="<%= edit_manage_configuration_path(setting_type, type:setting_name) %>" class="listEditIcon clickable"><i class="icon fa fa-pencil" aria-hidden="true"></i></a> <%= setting_type.name %>
      <a data-href="<%= manage_configuration_path(setting_type, type: setting_name) %>" class="listRemoveIcon delete-option"><i class="icon fa fa-close" aria-hidden="true"></i></a>
    </li>
  <% end %>
</ul>
<%= render partial: "/shared/confirmation_popup", locals: { record_type: 'Configuration' } %>