<div class="row">
  <% 6.times do |i| %>
      <div class="col-md-6">
        <div class="panel">
          <div class="panel-body">
            HI <%= i %>
          </div>
        </div>
      </div>
  <% end %>
</div>