<div class='pull-right'>
  <div>
    <%= link_to "Printable Case (PDF)", highchart_report_reports_path(:format => 'pdf'), class: 'btn btn-primary', target: '_blank' %>
  </div> <br>
</div>

<div id="container"></div>
<%= render 'highchart_script'%>
