<div class='pull-right'>
  <div>
    <%= link_to "Printable Case (PDF)", highchart_report_reports_path(:format => 'pdf'), class: 'btn btn-primary', target: '_blank' %>
  </div> <br>
</div>

<div id="container"  align="center"></div><br>
<div id="container1" align="center"></div><br>
<div id="container2" align="center"></div><br>
<div id="container3" align="center"></div><br>
<div id="container4" align="center"></div><br>

<%= render 'highchart_script'%>
