
<div id="container"  align="center"></div><br>
<div id="container1" align="center"></div><br>
<div id="container2" align="center"></div><br>
<div id="container3" align="center"></div><br>
<div id="container4" align="center"></div><br>

<%= render 'highchart_script'%>
