<div class="row">
	<div class="col-md-8">
		<!-- Example Custom -->
		<div class="example-wrap">
			<h4 class="example-title">Reports</h4>
			<p>Track Reports to find the proper insight of your assets.</p>
			<div class="list-group">
				<a class="list-group-item flex-column align-items-start" href="<%= projects_reports_path() %>" data-turbolinks="false">
					<h4 class="list-group-item-heading mt-0 mb-5">Successful Project Data</h4>
					<p class="mb-0">Covers visitations, new investments, new jobs, site/building referrals and etc. for specified dates.</p>
				</a>
				<a class="list-group-item flex-column align-items-start" href="<%= sites_reports_path() %>" data-turbolinks="false">
					<h4 class="list-group-item-heading mt-0 mb-5">Site/Building Referrals</h4>
					<p class="mb-0">Site/Building referral data for specified dates.</p>
				</a>
				<a class="list-group-item flex-column align-items-start" href="<%= yearly_reports_path() %>" data-turbolinks="false">
					<h4 class="list-group-item-heading mt-0 mb-5">Yearly Activity</h4>
					<p class="mb-0">Graphical reports that break down data along various categories with current year and
					year to year comparisons for new and existing business.</p>
				</a>
				<a class="list-group-item flex-column align-items-start" href="<%= monthly_reports_path() %>" data-turbolinks="false">
					<h4 class="list-group-item-heading mt-0 mb-5">Monthly Activity</h4>
					<p class="mb-0">Graphical reports that break down data along various categories with current year and
						year to year comparisons for a specific month for new and existing business.</p>
				</a>
			</div>
		</div>
		<!-- End Example Custom -->
	</div>
</div>