<div class="row">
  <div class="col-md-6">
    <div class="panel panel-bordered">
      <div class="panel-heading tableTitle">
        <h2 class="panel-title">Export Projects</h2>
      </div>
      <div class="panel-body">
        <div class="export-projects-btn">
          <%= link_to "Export Projects", export_form_projects_path, class: "col-md-13 btn btn-primary green-btn", data: { turbolinks: false } %>
        </div>
      </div>
    </div>
  </div>
</div>