<footer class="site-footer">

  <div class="site-footer-legal">© 2017
    <a href="/">EDLT</a></div>

  <div class="site-footer-right">
    Developed with <i class="red-600 icon md-favorite"></i> by
    <a href="/">EDLT</a>
  </div>

</footer>