<nav class="site-navbar navbar navbar-default navbar-fixed-top navbar-mega" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggler hamburger hamburger-close navbar-toggler-left hided unfolded" data-toggle="menubar">
      <span class="sr-only">Toggle navigation</span>
      <span class="hamburger-bar"></span>
    </button>
    <!--button type="button" class="navbar-toggler collapsed" data-target="#site-navbar-collapse" data-toggle="collapse">
      <i class="icon md-more" aria-hidden="true"></i>
    </button-->
    <div class="navbar-brand navbar-brand-center site-gridmenu-toggle" data-toggle="gridmenu">
      <div class="logo"> 
        <%= render '/layouts/logo_svg' %>
      </div>
    </div>
    <button type="button" class="navbar-toggler collapsed" data-target="#site-navbar-search" data-toggle="collapse">
      <span class="sr-only">Toggle Search</span>
      <i class="icon md-search" aria-hidden="true"></i>
    </button>
  </div>
  <div class="navbar-container container-fluid">
    <!-- Navbar Collapse -->
    <div class="collapse navbar-collapse navbar-collapse-toolbar" id="site-navbar-collapse">
      <!-- Navbar Toolbar -->
      <ul class="nav navbar-toolbar">
        <!--li class="nav-item hidden-float" id="toggleMenubar">
          <a class="nav-link waves-effect waves-light waves-round" data-toggle="menubar" href="#" role="button">
            <i class="icon hamburger hamburger-arrow-left hided unfolded">
              <span class="sr-only">Toggle menubar</span>
              <span class="hamburger-bar"></span>
            </i>
          </a>
        </li>
        <li class="nav-item hidden-sm-down" id="toggleFullscreen">
          <a class="nav-link icon icon-fullscreen waves-effect waves-light waves-round" data-toggle="fullscreen" href="#" role="button">
            <span class="sr-only">Toggle fullscreen</span>
          </a>
        </li-->
        <li class="nav-item hidden-float">
          <a class="nav-link icon md-search waves-effect waves-light waves-round" data-toggle="collapse" href="#" data-target="#site-navbar-search" role="button">
            <span class="sr-only">Toggle Search</span>
          </a>
        </li>
      </ul>
      <!-- End Navbar Toolbar -->
    </div>
    <!-- End Navbar Collapse -->
    <!-- Site Navbar Seach -->
    <div class="collapse navbar-search-overlap" id="site-navbar-search">
      <form role="search">
        <div class="form-group">
          <div class="input-search">
            <i class="input-search-icon md-search" aria-hidden="true"></i>
            <input type="text" class="form-control" name="site-search" placeholder="Search..." data-autocomplete-source = "<%= search_index_path %>" id="search_query">
            <button type="button" class="input-search-close icon md-close" data-target="#site-navbar-search" data-toggle="collapse" aria-label="Close"></button>
          </div>
        </div>
      </form>
    </div>
    <!-- End Site Navbar Seach -->
  </div>
</nav>

<script>
  $('#search_query').autocomplete({
    source: $('#search_query').data('autocomplete-source'),
    
    open: function(e, ui) {
      var url = '/search?all_results=true&term=' + $('#search_query').val();
      if ($('.ui-menu-item').length >= 6) {
        $('.ui-autocomplete').append('<li><a href='+ url + ' class="nav-link see-all-link">See All Results</a></li>'); //See all results
      }
    },

    select: function (e, ui) {
      window.location.replace(window.location.protocol + '//' + window.location.host + '/' + ui.item.value);
      return false;
    }
  });

</script>