<div class="site-menubar">
  <div class="site-menubar-body">
    <div>
      <div>
        <ul class="site-menu" data-plugin="menu">
          <li class="site-menu-category"></li>
          <%= render 'layouts/organization_sidenav_content' %>
        </ul>
      </div>
    </div>
  </div>
</div>