<div class="site-menubar">
  <div class="site-menubar-body">
    <div>
      <div>
        <ul class="site-menu" data-plugin="menu">
          <li class="site-menu-category"></li>
          <li class="site-menu-item"> <a class="animsition-link" href="index.html"> <i class="site-menu-icon icon fa fa-home" aria-hidden="true"></i> <span class="site-menu-title">Home</span> </a> </li>
          <%= render 'layouts/organization_sidenav_content' %>
        </ul>
      </div>
    </div>
  </div>
</div>