<div id="content">
  <div style="text-align: center;">
    <%= wicked_pdf_image_tag "newlogo.png" %>
  </div>
</div>
<hr>
<br>
<style type="text/css">
  #content {
    display: block;
    margin: 0px;
    padding: 0px;
    position: relative;
    top: 20px;
    bottom: 5px;
    height: auto;
    max-width: auto;
    overflow-y: hidden;
    overflow-x: auto;
    word-wrap: normal;
    white-space: nowrap;
    font-size: 40px;
  }

  #content img {
    background-color: #000000;
    padding: 10px;
  }
</style>
