<div id="content">
  <%= wicked_pdf_image_tag "favicon.ico" %>
  <span>Project Tracker</span>
</div><hr>
<br>
<style type="text/css">
  #content {
      display: block;
      margin: 0px;
      padding: 0px;
      position: relative;
      top: 20px;
      bottom: 5px;
      height: auto;
      max-width: auto;
      overflow-y: hidden;
      overflow-x:auto;
      word-wrap:normal;
      white-space:nowrap;
      font-size: 40px;
  }
</style>
